{% extends "base.html" %}
{% load static %}
{% block title %}Cliente:{% endblock title %}
{% block content %}
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item"><strong>Nombres:</strong> {{ client.first_name }}</li>
            <li class="list-group-item"><strong>Apellidos:</strong> {{ client.last_name }}</li>
            <li class="list-group-item"><strong>Cédula:</strong> {{ client.dni }}</li> 
            <li class="list-group-item"><strong>Email:</strong> {{ client.email }}</li>
            <li class="list-group-item"><strong>Número de telefono:</strong> {{ client.phone }}</li> 
            <li class="list-group-item"><strong>Dirección:</strong> {{ client.address }}</li> 
        </ul>
        <div class="d-flex justify-content-center">
            <button onclick="window.location.href='/client'" class="btn btn-primary" style="color:white">Regresar</button>
        </div>
    </div>
{% endblock content %}

        


