{% extends "base.html" %}
{% block title %} {{client}} {% endblock title %}
{% block content %}
    <p>Has elegido el cliente: <strong>{{ client | capfirst }}</strong></p>
    <h3>Características:</h3>
    <ul>
        <li>Nombres: {{ client.first_name }}</li>
        <li>Apellidos: {{ client.last_name }}.</li>
        <li>Cédula: {{ client.dni }}.</li>
        <li>Email: {{ client.email }}.</li>
        <li>Teléfono: {{ client.phone }}.</li>
        <li>Dirección: {{ client.address }}.</li>
    </ul> 
    <a href="/">Regresar</a>
{% endblock content %}
        


