{% extends "base.html" %}
{% load static %}
{% block title %}Werther{% endblock title %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row">
                <div class="col-6 mb-3">
                    <a href="category/">
                        <button class="btn btn-outline-primary btn-lg btn-block" width="128" height="128">
                            <img src="{% static 'category.jpg' %}" class="img-fluid">
                            <span style="color:gray;">Categorías</span>
                        </button>
                    </a>
                </div>
                <div class="col-6 mb-3">
                    <a href="product/">
                        <button class="btn btn-outline-primary btn-lg btn-block" width="128" height="128">
                            <img src="{% static 'product.jpg' %}" class="img-fluid">
                            <span style="color:gray;">Libros</span>
                        </button>
                    </a>
                </div>
                {% if user.is_authenticated %}
                    <div class="col-6 mb-3">
                        <a href="client/">
                            <button class="btn btn-outline-primary btn-lg btn-block"  width="128" height="128">
                                <img src="{% static 'client.jpg' %}" class="img-fluid">
                                <span style="color:gray;">Clientes</span>
                            </button>
                        </a>
                    </div>
                    <div class="col-6 mb-3">
                        <a href="purchase/">
                            <button class="btn btn-outline-primary btn-lg btn-block"  width="128" height="128">
                                <img src="{% static 'purchase.jpg' %}" class="img-fluid">
                                <span style="color:gray;">Compras</span>
                            </button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}