{% extends "base.html" %}
{% load static %}
{% block title %}Categorías{% endblock title %}
{% block content %}
    <div class="container">
        <p style="font-size: 1.7em; margin-top: 1em; margin-bottom: 1em;" class= "text-center"><strong>Categorías</strong></p>
        <ul class="list-group">
            {% for category in categorys %}
                <li class="list-group-item">
                    <a href="#" style=" margin-right: 1em;">
                        {{ category.category }}
                    </a>
                    {% if user.is_authenticated %}
                        <a href="edit_category/{{ category.id }}" class="btn btn-link"><i class="fa-solid fa-pencil"></i></a>
                        <a href="delete_category/{{ category.id }}" onclick="confirmScript(event, 'eliminar {{ category }}?, esta acción es irreversible.')" class="btn btn-link"><i class="fa-solid fa-trash"></i></a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if user.is_authenticated %}
            <div class="d-flex">
                <a href="{% url "libreria:add_category" %}">
                    <button style=" margin-bottom: 2em;" class="btn btn-outline-primary btn-lg btn-block">
                        <h6>Agregar Categorías</h6>
                    </button>
                </a>
            </div>
        {% endif %}
        <div class="d-flex justify-content-center">
            <button onclick="window.location.href='/'" class="btn btn-primary" style="color:white">Regresar</button>
        </div>
    </div>
{% endblock content %}