{% extends "base.html" %}
{% load static %}
{% block title %}Compras{% endblock title %}
{% block content %}
    <div class="container">
        <p style="font-size: 1.7em; margin-top: 1em; margin-bottom: 1em;" class= "text-center"><strong>Compras</strong></p>
        {% if user.is_authenticated %}
            <div class="d-flex">
                <a href="{% url "libreria:add_purchase" %}">
                    <button style=" margin-bottom: 1em; margin-right: 0.5em; color:white;" class="btn btn-primary me-2">Agregar Compra</button>
                </a>
                <button onclick="window.location.href='/'" class="btn btn-primary ms-2" style="color:white; margin-bottom: 1em;">Regresar</button>
            </div>
        {% endif %}
        <ul class="list-group">
            {% for purchase in purchases %}
                <li class="list-group-item" style="font-size: 1.2em;">
                        {{ purchase.purchase }}
                    <a href="{{ purchase.id }}" class="btn"><i class="fa-solid fa-eye"></i></a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}