{% extends "base.html" %}
{% load static %}
{% block title %}Agregar Compra{% endblock %}
{% block content %}
<div class="container">
    <div class="row justify-content-center" style="margin-top: 2em; margin-bottom: 5em;">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center"><strong>Agregar Compra</strong></h2>
                    {% if messages %}
                        <div class="alert alert-danger">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="client" class="form-label">Cliente</label>
                            <select name="client" id="client" class="form-control" required>
                                <option value="" disabled selected>Seleccione un cliente</option>
                                {% for client in clients %}
                                    <option value="{{ client.id }}">{{ client }}</option>
                                {% endfor %}
                            </select>
                        </div>
        
                        <div class="mb-3">
                            <label for="date" class="form-label">Fecha y Hora</label>
                            <input type="datetime-local" name="date" id="date" class="form-control" value="{{ date_time }}" required>
                        </div>
        
                        <h5 class="mt-4 mb-3"><strong>Libros Disponibles</strong></h5>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="text-center">
                                        <th style="width: 25%;">Título</th>
                                        <th style="width: 20%;">Precio Unitario</th>
                                        <th style="width: 15%;">Cantidad</th>
                                        <th style="width: 5%;">Seleccionar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    {% if product.stock > 0 %}
                                    <tr>
                                        <td>{{ product.book_title }}</td>
                                        <td>${{ product.price }}</td>
                                        <td class="text-center">
                                            <input type="number" name="amount_product[]" value="1" min="1" class="form-control">
                                            {% if product.stock < 4 %}
                                                <div class="text-danger" style="font-size:12px;">Pocas unidades en stock</div>
                                            {% endif %}
                                        </td>
                                        <td class="text-center" style="padding: 0;">
                                            <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                                                <input type="checkbox" name="products[]" value="{{ product.id }}" class="form-check-input">
                                            </div>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
            
                        <h5 class="text-left">Total Venta: $<span id="total-price">0.00</span></h5>

                        <div class="d-flex">
                            <button class="btn btn-primary me-2" type="submit" style="margin-top: 1em; margin-right: 0.5em; color:white;">Guardar</button>
                            <button type="button" onclick="window.location.href='/purchase'" class="btn btn-primary ms-2" style="margin-top: 1em; color:white">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>                
    </div>
</div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('form');
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const totalPurchaseSpan = document.getElementById('total-price');
    
            function updateTotal() {
                let total = 0;
                checkboxes.forEach((checkbox, index) => {
                    const row = checkbox.closest('tr');
                    const amountInput = row.querySelector('input[type="number"]');
                    const price = parseFloat(row.cells[1].innerText.replace('$', ''));
                    
                    if (checkbox.checked) {
                        amountInput.disabled = false;
                        total += price * parseInt(amountInput.value);
                    } else {
                        amountInput.disabled = true;
                        amountInput.value = 1;
                    }
                });
                totalPurchaseSpan.innerText = total.toFixed(2);
            }
    
            function validateForm(event) {
                let atLeastOneChecked = false;
                checkboxes.forEach((checkbox) => {
                    if (checkbox.checked) {
                        atLeastOneChecked = true;
                    }
                });
    
                if (!atLeastOneChecked) {
                    event.preventDefault();
                    alert('Debe seleccionar al menos un producto para guardar la venta.');
                }
            }
    
            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', updateTotal);
            });
    
            document.querySelectorAll('input[type="number"]').forEach(input => {
                input.addEventListener('input', updateTotal);
            });
    
            form.addEventListener('submit', validateForm);
    
            updateTotal();
        });
    </script>   

{% endblock %}